.Card {
    width: 83%;
    padding: 14px;
    margin-left: 14%;
    float: left;
    margin-bottom: 30px;
}

.menuempresa, .menufornecedor{
    float: left;
}

.CardEmpresa, .CardFornecedor {
    margin-top: 15px;
    width: calc(100% - 35px);
    padding: 0 0 10px 15px;
    float: left;
    text-align: left;
    background-color: var(--main-bg-color);
    border-radius: 12px;
    box-shadow: 1px 3px 4px var(--dark-bg-color);
    transition: 1s;
}
.CardEmpresa:last-child, .CardFornecedor:last-child{
    margin-bottom: 50px;
}

.CardEmpresa .menu, .CardFornecedor .menu{
    float: right;
    width: 50%;
}

.CardEmpresa .menu button, .CardFornecedor .menu button{
    float: right;
    top: 0;
    border: none;
    padding: 4px 7px;
    border-radius: 5px;
    margin: 15px;

}

.CardEmpresa span, .CardFornecedor span {
    padding: 2px 5px;
    border-radius: 5px;
    background-color: var(--main-btn-color);
    color: var(--main-bg-color);
}


.vermelho {
    background-color: var(--main-btn-erro-color);
    color: var(--second-bg-color);
}

.amarelo {
    background-color: var(--main-btn-alert-color);
    color: var(--second-btn-color);
}

.cinza {
    background-color: var(--main-btn-color);
    color: var(--main-bg-color);
}

.add{
    top: 0;
    border: none;
    padding: 0px 7px;

    border-radius: 50px;
    margin: 15px;
    font-size: 22px;
}



.info{
    margin-top: 15px;
    width: calc(100% - 35px);
    padding: 0 0 10px 15px;
    float: left;
    text-align: left;
}

.fornecedoresCard{
    width: 30%;
    padding: 0 0 10px 15px;
    margin: 10px;
    background-color: white ;
    border-radius: 12px;
    box-shadow: 0px 2px 2px var(--dark-bg-color);
}
